################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MICE3D/.vs/MICE3D/v15
/MICE3D/Assets/Plugins/netstandard2.0
/MICE3D/obj/Debug
/MICE3D/Library/ScriptAssemblies
